//@font-face { font-family: Diavlo; src: url('Diavlo_BLACK_II_37.otf'); }
@font-face { font-family: Diavlo; src: url('GeosansLight.ttf'); }

body {
    background-color: #caccaa;
    font-family: Diavlo;
}

h1 { 
    font-size: 2.0em;
    font-weight: bold;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
    background-color: #aaaa88;
    padding: 0.4em;
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

/*input:not([type=submit]):not([type=file]), textarea {*/
input:not([type=file]), textarea {
    font-family: Diavlo;
    font-size: 1em;
    
    /* omg so much cleaner */
    border: 1px solid white; 
    -webkit-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 0.4em;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

input[type=text], textarea {
    width: 100%;
}

textarea {
    height: 200px;
}

div.row {
    display: table-row;    
}

div.cell {
    display: table-cell;
    vertical-align: top;
    padding: 0.5em;
}

div.cellheader {
    display:     table-cell;
    font-weight: bold;
    padding:     0.5em;
    background-color: #d00d00;
}